<div .container>
    <a .btn .btn-link href="@{EventListR}">
        Мероприятия

    $if isJust ma
        |&nbsp;
        $maybe (Entity ok _) <- morg
            <a .btn .btn-link href="@{EventCreateR}">
                Новое мероприятие
            |
            <a .btn .btn-link href="@{OrgDetailR $ keyToInt ok}">
                Моя организация
        $nothing
            <a .btn .btn-link href="@{OrgRegisterR}">
                Стать организатором

        <div .pull-right>
            <span .label .label-info>
                $if madmin == Just True
                    <i .glyphicon .glyphicon-cog>

                #{displayName}

            <a .btn .btn-link href="@{AuthR LogoutR}">
                Выход
    $else
        <div .pull-right>
            <a .btn .btn-link href="@{AuthR LoginR}">
                Вход

<div .container>
    $maybe msg <- mmsg
        <div .alert #message>
            #{msg}

    ^{widget}
